body {
    background-color: rgba(241, 255, 249, 1);
    font-family: Verdana;
}
#noteListDiv {
    float: right;
}
#textArea {
    width: 50%;
    height: 70%;
    float: left;
}
#noteTextArea {
    width: 95%;
    height: 100%;
    border: 1px solid black;
    background-color: rgba(224, 246, 225, 0.15);
    overflow: auto;
}
#saveButton {
    width: 95%;
    background-color: rgba(237, 205, 169, 0.42);
}
#markdownArea {
    width: 50%;
    height: 70%;
    float: right;
}
#markdownTextArea {
    width: 95%;
    height: 100%;
    border: 1px solid black;
    background-color: rgba(224, 246, 225, 0.15);
    overflow: auto;
}
